<div>
  <p>
    <b style="text-align: left;">USA</b><span style="text-align: right;">  - ON US ❤️ (EST 12-21 days)</span><br /> 
    <b style="text-align: right;">Canada</b><span style="text-align: right;">  - $5.99 (EST 14-24 days)</span><br />
    <b style="text-align: right;">International</b><span style="text-align: right;">  - $19.99 (Depends on location)</span><br />
    <br>
    <span>FREE INTERNATIONAL SHIPPING FOR ORDERS ABOVE $150.00</span><br />
  </p>
</div>
